extends layout

block content
  script(src='/javascripts/main.js')
  h1= title
  p Hello World to #{title}
  div(classs='btn', onClick='clickBtn("aa")' style='border:1px solid black; width:100px; text-aligh:center; padding:2px;')
    p(style='text-align: center;') clickMe